@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap");
@import "tailwindcss";
@import "tw-animate-css";
@plugin "@tailwindcss/typography";
@source "../../../lib/elaine-ui/src";
@source "../../../lib/messenger-ui/src";
@import "../../../lib/elaine-ui/src/theme.css";

@custom-variant dark (&:is(.dark *));

@keyframes progress-bar {
  0% {
    transform: translateX(-100%);
    width: 40%;
  }
  50% {
    width: 60%;
  }
  100% {
    transform: translateX(300%);
    width: 40%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  html {
    overflow-x: hidden;
    max-width: 100%;
  }

  body {
    @apply font-sans antialiased bg-background text-foreground;
    overflow-x: hidden;
    max-width: 100%;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-serif;
  }
}
